<div class="container-fluid">
    <div class="row text-center" align="center">
        <div class="col" style="margin: auto;">
            <div class="card-effect">
                <h2 style="padding: 25px 0px">{{ selectedSociety }}</h2>
            </div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>
                            <span style="font-weight: bold">
                                Durata media: 
                            </span>
                            {{ averageDuration }} gioni        
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold">
                                Profitto medio: 
                            </span>
                            <span [ngClass]="{'negative-variation': averageProfit < 0, 
                            'positive-variation': averageProfit >= 0}">
                                {{ averageProfit | number : '1.2-2'}}€        
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold">
                                # ordini: 
                            </span>
                            <span >{{ ordersToShow.length}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <div id="pieChart" style="width: 100%;height:300px;"></div>
        </div>
        <div class="col">
            <div id="histChart" style="width: 100%;height:300px;"></div>
        </div>
    </div>
    <div align="center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Entry Date</th>
                    <th class="text-center" scope="col">Entry Price</th>
                    <th class="text-center" scope="col">Exit Date</th>
                    <th class="text-center" scope="col">Exit Price</th>
                    <th class="text-center" scope="col">
                        <span class="positive-variation">
                            Gain
                        </span>/
                        <span class="negative-variation">
                            Loss
                        </span>
                    </th>
                    <th class="text-center" scope="col">Variation</th>
                    <th class="text-center" scope="col">Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of ordersToShow | slice: (page-1) * pageSize : page * pageSize; index as i"
                    (click)="selectedOrder(order)">
                    <th class="text-center" scope="row">{{ (page -1) * pageSize + i + 1 }}</th>
                    <td class="text-center">{{ order.openOrderDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="text-center">{{ order.entryPrice }}€</td>
                    <td class="text-center">{{ order.closeOrderDate | date: 'dd/MM/yyyy' }}</td>
                    <td class="text-center">{{ order.exitPrice }}€</td>
                    <td class="text-center" [ngClass]="{'negative-variation': order.profit < 0, 
                    'positive-variation': order.profit >= 0}">{{ order.profit | number : '1.2-2' }}€</td>
                    <td class="text-center" [ngClass]="{'negative-variation': order.percentageVariation < 0, 
                    'positive-variation': order.percentageVariation >= 0}">{{ order.percentageVariation | number :
                        '1.2-2' }}%</td>
                    <td class="text-center">{{ order.duration }} days</td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
            [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
    </div>
</div>