<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Multiday trading explorer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" [(ngModel)]="searchedSymbol" placeholder="Search"
                    aria-label="Search" [ngModelOptions]="{standalone: true}" (input)="searching()">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div *ngIf="isLoading" class="text-center mt-5 text-info">
    <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status">
        <span class="sr-only"></span>
    </div>
</div>
    
<div *ngIf="!isLoading" class="container">     
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" [ngModel]="market" type="radio" value="ftse_mib" (click)="onMarketChanged('ftse_mib')" checked>
            <label class="form-check-label" for="inlineRadio1">FTSE MIB</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [ngModel]="market" type="radio" value="down_jones" (click)="onMarketChanged('down_jones')">
            <label class="form-check-label" for="inlineRadio2">Down Jones</label>
          </div> 
        <div class="form-check form-switch form-check-inline">
            <input class="form-check-input" [ngModel]="mustFilter" type="checkbox" id="flexSwitchCheckDefault" (click)="filtering()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Filtra per strategie</label>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Società</th>
                <th class="text-center" scope="col">Open</th>
                <th class="text-center" scope="col">Close</th>
                <th class="text-center" scope="col">Trend</th>
                <th class="text-center" scope="col">Variazione %</th>
                <th class="text-center" scope="col">Strategie</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/detail" [queryParams]="{simbolo: symbol.symbol}" routerLinkActive="active"
                [ngClass]="{'buyable-background': symbol.strategies != ''}" *ngFor="let symbol of symbols">
                <th>{{ symbol.society }}</th>
                <td class="text-center">{{ symbol.open | number : '1.2-2'}}{{ market == 'ftse_mib' ? '€' : '$' }}</td>
                <td class="text-center">{{ symbol.close | number : '1.2-2' }}{{ market == 'ftse_mib' ? '€' : '$' }}</td>
                <td class="text-center" [ngClass]="{'negative-variation': !symbol.trend, 
                'positive-variation': symbol.trend}">{{ symbol.trend ? "Uptrend": "Downtrend"}}</td>
                <td class="text-center" [ngClass]="{'negative-variation': symbol.variation < 0, 
                    'positive-variation': symbol.variation >= 0}">
                    {{ symbol.variation | number : '1.2-2'}}%</td>
                <td class="text-center">{{ symbol.strategies }}</td>
            </tr>
        </tbody>
    </table>
</div>