<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Società</th>
                <th class="text-center" scope="col">Open</th>
                <th class="text-center" scope="col">Close</th>
                <th class="text-center" scope="col">EMA 200</th>
                <th class="text-center" scope="col">Variazione %</th>
                <th class="text-center" scope="col">Strategia</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/detail" [queryParams]="{simbolo: symbol.simbolo}" routerLinkActive="active"
                [ngClass]="{'buyable-background': symbol.buyable}" *ngFor="let symbol of symbols">
                <th>{{ symbol.societa }}</th>
                <td class="text-center">{{ symbol.apertura | number : '1.2-2'}}€</td>
                <td class="text-center">{{ symbol.chiusura | number : '1.2-2' }}€</td>
                <td class="text-center">{{ symbol.ema200 | number : '1.2-2'}}€</td>
                <td class="text-center" [ngClass]="{'negative-variation': symbol.variazione < 0, 
                    'positive-variation': symbol.variazione >= 0}">
                    {{ symbol.variazione | number : '1.2-2'}}%</td>
                <td>{{ getStrategiesFromSymbol(symbol) }}</td>
            </tr>
        </tbody>
    </table>
</div>