<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Multiday trading explorer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" [(ngModel)]="searchedSymbol" placeholder="Search"
                    aria-label="Search" [ngModelOptions]="{standalone: true}" (input)="searching()">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Società</th>
                <th class="text-center" scope="col">Open</th>
                <th class="text-center" scope="col">Close</th>
                <th class="text-center" scope="col">Trend</th>
                <th class="text-center" scope="col">Variazione %</th>
                <th class="text-center" scope="col">Strategie</th>
            </tr>
        </thead>
        <tbody>
            <tr routerLink="/detail" [queryParams]="{simbolo: symbol.symbol}" routerLinkActive="active"
                [ngClass]="{'buyable-background': symbol.strategies != ''}" *ngFor="let symbol of symbols">
                <th>{{ symbol.society }}</th>
                <td class="text-center">{{ symbol.open | number : '1.2-2'}}€</td>
                <td class="text-center">{{ symbol.close | number : '1.2-2' }}€</td>
                <td class="text-center" [ngClass]="{'negative-variation': !symbol.trend, 
                'positive-variation': symbol.trend}">{{ symbol.trend ? "Uptrend": "Downtrend"}}</td>
                <td class="text-center" [ngClass]="{'negative-variation': symbol.variation < 0, 
                    'positive-variation': symbol.variation >= 0}">
                    {{ symbol.variation | number : '1.2-2'}}%</td>
                <td class="text-center">{{ symbol.strategies }}</td>
            </tr>
        </tbody>
    </table>
</div>