/* You can add global styles to this file, and also import other style files */
.buyable-background {
    background-color: #E2EB98;
}

.negative-variation {
    color: #C03221 !important;
}

.positive-variation {
    color: #199526 !important;
}

.card-effect {
    width: 70%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
    position: absolute;
}
